<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votación</title>
</head>
<body>
    <h2>Candidatos</h2>
    <form action="/votar" method="post">
        <li> <input type="radio" name="candidato" value="Miguel Diaz-Canel Bermúdez">
            <label>Miguel Diaz-Canel Bermúdez</label></li>
        <li><input type="radio" name="candidato" value="Vladimir Putin">
            <label>Vladimir Putin</label></li>
        <li><input type="radio" name="candidato" value="Florentino Pérez">
            <label>Florentino Pérez</label></li>
        <input type="submit" value="Votar">
        

    </form>
</body>
</html>